<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.permission.dao.DictDao">
	<resultMap id="BaseResultMap" type="com.lt.permission.model.Dict">
		<id column="did" jdbcType="VARCHAR" property="did" />
		<result column="pdid" jdbcType="VARCHAR" property="pdid" />
		<result column="dcode" jdbcType="VARCHAR" property="dcode" />
		<result column="dname" jdbcType="VARCHAR" property="dname" />
		<result column="dkey" jdbcType="VARCHAR" property="dkey" />
		<result column="dvalue" jdbcType="VARCHAR" property="dvalue" />
		<result column="dsort" jdbcType="INTEGER" property="dsort" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
		<result column="modifier" jdbcType="VARCHAR" property="modifier" />
		<result column="is_delete" jdbcType="INTEGER" property="isDelete" />
		<result column="version" jdbcType="INTEGER" property="version" />
	</resultMap>
	<sql id="Base_Column_List">
		did, pdid, dcode, dname, dkey, dvalue, dsort, remark,
		created_time,
		creator, modified_time,
		modifier, is_delete, version
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dict
		where did = #{did,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_dict
		where did = #{did,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.lt.permission.model.Dict">
		insert into t_dict (did, pdid,
		dcode,
		dname, dkey, dvalue,
		dsort, remark, created_time,
		creator,
		modified_time, modifier,
		is_delete, version)
		values
		(#{did,jdbcType=VARCHAR}, #{pdid,jdbcType=VARCHAR},
		#{dcode,jdbcType=VARCHAR},
		#{dname,jdbcType=VARCHAR},
		#{dkey,jdbcType=VARCHAR}, #{dvalue,jdbcType=VARCHAR},
		#{dsort,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
		now(),
		#{creator,jdbcType=VARCHAR},
		now(), #{modifier,jdbcType=VARCHAR},
		0,1)
	</insert>
	<insert id="insertSelective" parameterType="com.lt.permission.model.Dict">
		insert into t_dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="did != null">
				did,
			</if>
			<if test="pdid != null">
				pdid,
			</if>
			<if test="dcode != null">
				dcode,
			</if>
			<if test="dname != null">
				dname,
			</if>
			<if test="dkey != null">
				dkey,
			</if>
			<if test="dvalue != null">
				dvalue,
			</if>
			<if test="dsort != null">
				dsort,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="modifiedTime != null">
				modified_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="version != null">
				version,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="did != null">
				#{did,jdbcType=VARCHAR},
			</if>
			<if test="pdid != null">
				#{pdid,jdbcType=VARCHAR},
			</if>
			<if test="dcode != null">
				#{dcode,jdbcType=VARCHAR},
			</if>
			<if test="dname != null">
				#{dname,jdbcType=VARCHAR},
			</if>
			<if test="dkey != null">
				#{dkey,jdbcType=VARCHAR},
			</if>
			<if test="dvalue != null">
				#{dvalue,jdbcType=VARCHAR},
			</if>
			<if test="dsort != null">
				#{dsort,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				#{modifiedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lt.permission.model.Dict">
		update t_dict
		<set>
			<if test="pdid != null">
				pdid = #{pdid,jdbcType=VARCHAR},
			</if>
			<if test="dcode != null">
				dcode = #{dcode,jdbcType=VARCHAR},
			</if>
			<if test="dname != null">
				dname = #{dname,jdbcType=VARCHAR},
			</if>
			<if test="dkey != null">
				dkey = #{dkey,jdbcType=VARCHAR},
			</if>
			<if test="dvalue != null">
				dvalue = #{dvalue,jdbcType=VARCHAR},
			</if>
			<if test="dsort != null">
				dsort = #{dsort,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			modified_time = now(),
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
		</set>
		where did = #{did,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lt.permission.model.Dict">
		update t_dict
		set
		pdid = #{pdid,jdbcType=VARCHAR},
		dcode = #{dcode,jdbcType=VARCHAR},
		dname = #{dname,jdbcType=VARCHAR},
		dkey = #{dkey,jdbcType=VARCHAR},
		dvalue = #{dvalue,jdbcType=VARCHAR},
		dsort = #{dsort,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR},
		created_time =
		#{createdTime,jdbcType=TIMESTAMP},
		creator =
		#{creator,jdbcType=VARCHAR},
		modified_time =
		#{modifiedTime,jdbcType=TIMESTAMP},
		modifier =
		#{modifier,jdbcType=VARCHAR},
		is_delete = #{isDelete,jdbcType=INTEGER},
		version = #{version,jdbcType=INTEGER}
		where did =
		#{did,jdbcType=VARCHAR}
	</update>

	<sql id="findDictsCondition">
		<if test="dcode != null">
			and dcode = #{dcode}
		</if>
		<if test="dname != null">
			and dname like #{dname}
		</if>
	</sql>

	<select id="findDictsByPage" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dict
		where is_delete=0 and pdid is null
		<include refid="findDictsCondition" />
		order by dcode
		limit
		#{page},#{pageSize}
	</select>

	<select id="findDictsCount" parameterType="map" resultType="Integer">
		select
		count(1)
		from
		t_dict
		where is_delete=0 and pdid is null
		<include refid="findDictsCondition"></include>
	</select>

	<update id="logicDeleteDict">
		update t_dict
		set
		is_delete = 1,
		modified_time=now()
		where did =
		#{did,jdbcType=VARCHAR}
	</update>

	<select id="getDictByCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dict
		where is_delete=0 and dcode = #{dcode,jdbcType=VARCHAR}
	</select>

	<select id="getDictsByPdid" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dict
		where is_delete=0 and pdid =#{pdid,jdbcType=VARCHAR}
		<include refid="findDictsCondition" />
		order by dsort,dkey
	</select>
</mapper>